version: "3.9"

services:
  frontend:
    build: .
    container_name: frontend
    ports:
      - "5000:5000"
    environment:
      - API_URL=${API_URL}
    restart: always
    volumes:
      - .:/app
    networks:
      - app-network

networks:
  app-network:
    external: true